<h4 class="text-center">
   Profil de {{ player.batPlayer }} - Compte bloqué
</h4>
<div class="row">
   <div class="col-lg-3 text-center">
      <img class="img-locked" src="{{ asset('Pictures/Cadennas_Prileria.png') }}" alt="">
   </div>
   <div class="col-lg-9">
      <p class="text-locked"><b>Raison :</b> {{ locked.reason }}</p>
   </div>
</div>
