<form class="table-btn-action-delete" method="post" action="{{ path('administration_locked_unlock', {'id': locked.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce blocage ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('unlock' ~ locked.id) }}">
    <button class="btn-img"><img class="img-show-player" src="{{ asset('pictures/Cadennas_Prileria.png') }}" alt=""></button>
</form>
