<div class="footer">
   <div class="container">
      <div class="top-footer">
         <img src="https://prileria.net/storage/img/logopprileriablanc.png" alt="Logo">
         <div class="footer-content">
            <div class="footer-copyright">
               <div class="mention">
                  Copyright © 2021 Prileria - Tous droits réservés.
               </div>
               <div class="copyright-links">
                  <a href="https://prileria.net/cgu">CGU</a>
                  <a class="ms-2" href="https://prileria.buycraft.net/terms">CGV</a>
                  <a class="ms-2" href="https://prileria.net/cgu">Mentions legales</a>
               </div>
            </div>
            <div class="footer-socials">
               <div class="social-links">
                  <a href="https://twitter.com/PrileriaRP" target="_blank">
                     <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://www.youtube.com/Axel_Joue" target="_blank">
                     <i class="fab fa-youtube"></i>
                  </a>
                  <a href="https://discord.gg/Cv5HMNy" target="_blank">
                     <i class="fab fa-discord"></i>
                  </a>
               </div>
            </div>
            <div class="footer-links">
               <ul>
                  <li>
                     <a href="https://prileria.net/contact">Nous contacter</a>
                  </li>
                  <li>
                     <a href="https://prileria.net/jouer">Comment jouer ?</a>
                  </li>
                  <li>
                     <a href="https://prileria.net/support/tickets">Support</a>
                  </li>
               </ul>
               <ul>
                  <li>
                     <a href="https://prileria.buycraft.net/">Boutique</a>
                  </li>
                  <li>
                     <a href="https://prileria.net/forum">Forum</a>
                  </li>
                  <li>
                     <a href="https://discord.gg/Cv5HMNy">Discord</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
